datadir="/var/lib/proxysql"
errorlog="/var/lib/proxysql/proxysql.log"

admin_variables=
{
        admin_credentials="admin:admin"
        mysql_ifaces="0.0.0.0:6032"
        refresh_interval=1000
        debug=false
}

mysql_variables=
{
        threads=4
        max_connections=2048
        default_query_delay=0
        default_query_timeout=36000000
        have_compress=true
        poll_timeout=2000
        interfaces="0.0.0.0:6033"
        default_schema="information_schema"
        stacksize=1048576
        server_version="5.5.30"
        connect_timeout_server=3000
        monitor_username="proxysql_monitor"
        monitor_password="password"
        monitor_history=600000
        monitor_connect_interval=500
        monitor_ping_interval=500
        monitor_read_only_interval=500
        monitor_read_only_timeout=500
        ping_interval_server_msec=120000
        ping_timeout_server=500
        commands_stats=true
        sessions_sort=true
        connect_retries_on_failure=4
}


# defines all the MySQL servers
mysql_servers =
(
        { address="127.0.0.1" , port=3306 , hostgroup=0 },
        { address="127.0.0.1" , port=3307 , hostgroup=1 }
)


# defines all the MySQL users
mysql_users:
(
        { 
                username = "root", 
                password = "password", 
                default_hostgroup = 0,
                max_connections=256,
                active = 1
        },
        { 
                username = "proxysql_monitor", 
                password = "password", 
                default_hostgroup = 0,
                max_connections=100,
                active = 1
        },
        { 
                username = "proxysql_writer", 
                password = "password", 
                default_hostgroup = 0,
                max_connections=256,
                active = 1
        },
        { 
                username = "proxysql_reader", 
                password = "password", 
                default_hostgroup = 1,
                max_connections=256,
                active = 1
        }
)



#defines MySQL Query Rules
mysql_query_rules:
(
        {
                rule_id=1
                active=1
                match_pattern="^SELECT .* FOR UPDATE$"
                destination_hostgroup=0
                apply=1
        },
        {
                rule_id=2
                active=1
                match_pattern="^SELECT"
                destination_hostgroup=1
                apply=1
        }
)

scheduler=
(
#  {
#    id=1
#    active=0
#    interval_ms=10000
#    filename="/var/lib/proxysql/proxysql_galera_checker.sh"
#    arg1="0"
#    arg2="0"
#    arg3="0"
#    arg4="1"
#    arg5="/var/lib/proxysql/proxysql_galera_checker.log"
#  }
)


mysql_replication_hostgroups=
(
    {
        writer_hostgroup=0
        reader_hostgroup=1
        comment="Teste de replicação com Galera MariaDB Cluster"
    },
)